<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}" type = "text/css"/>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
</head>
<body>

       <div id="dash_header" class="container">
            <section class="headerStyle">
            	<h1 class="logoStyle">MyTrans</h1>
            </section>
            <aside class="asideStyle">
                <a id="dashboard" href="{% url 'loadItems' %}" class="btn btn-default-header">Dashboard</a>
                <a id="profile" href="{% url 'profile' %}" class="btn btn-default-header">Profile</a>
                <a id="log_out" href="{% url 'logout' %}" class="btn btn-default-header">Log Out</a>
            </aside>
           <hr>
        </div>
    <div  class="container">
    <div id ="title">Profile</div>
    <br>
  	<table id="Profile_Detail" class="table">
    	<tr>
        	<td class="table_Lbl"><label>Username:</label></td>
            <td >
            	<input id="tbxTrans" name="tbxTransNo" class="form-control" type="text" disabled>
            </td>
        </tr>
        <tr>
            <td class="table_Lbl"><label>First name:</label></td>
            <td><input id="tbxDate" type="text" class="form-control" disabled></td>
        </tr>
        <tr>
        	<td class="table_Lbl"><label>Last name:</label></td>
            <td><input id="txtaDesc"
            type="text" class="form-control" disabled></input></td>
        </tr>
        <tr>
        	<td class="table_Lbl"><label>Email:</label></td>
            <td><input id="tbxType" class="form-control" type="text" disabled></td>
        </tr>
        <tr>
        	<td class="table_Lbl"><label>Recent transaction:</label></td>
            <td></td>
        </tr>
    </table>

     <div class="container">
        <table id="recent_transaction">
            <thead>

              <tr>
                  <td title="No." data-type="number">No.</td>
                  <td title="Description" data-type="date">Description</td>
                  <td title="Transaction Month" data-type="date">Transaction Month</td>
                  <td title="Type" data-type="string">Type</td>
                  <td title="Location" data-type="string">Location</td>
                  <td title="Amount" data-type="string">Amount</td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
            </thead>
        </table>
     </div>
        <div id="dash_footer">
        </div>
    </div>
    <script src="js/Add_Transactions.js"></script>
	<script src="js/Dir_JS.js"></script>
    <script src="js/HeaderScript.js"></script>
</body>
</html>